@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Urbanist', sans-serif;
}

.bg-hero{
    object-fit: cover;
    width: 100%;
    height: 80vh;
}


.h-75vh{
    height: 75vh;
}

.id{
    width: 3rem;
}

.card-show{
    max-width: 500px;
}

